qdrant_url=
postgres_url=
GEMINI_API_KEY=
GEMINI_MODEL= gemini-3.5-flash-lite
embedding_model = 'sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2'
en_to_fr_translation_model ='Helsinki-NLP/opus-mt-en-fr'
en_to_fr_tokenizer = 'Helsinki-NLP/opus-mt-en-fr'

fr_to_en_translation_model ='Helsinki-NLP/opus-mt-fr-en'
fr_to_en_tokenizer = 'Helsinki-NLP/opus-mt-fr-en'